{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="h1 text-center pb-5">APIs Explorer</h1>
      
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th class="text-center" scope="col">Routes</th>
            <th class="text-center" scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>/api/users</td>
            <td>Returns a JSON object which contains list of all the users who have registered.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>/api/users/id</td>
            <td>Returns a JSON object which contains all the posts of a user with the given id.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>/api/posts</td>
            <td>Returns a JSON object which contains all the posts present in the database.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
        
{% endblock content %}