{% extends 'layout.html' %}

{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img"
        src="{{ url_for('static',filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body pl-3">
        <div class="article-metadata">
            <a class="mr-2 text-capitalize text-danger h5"
                href="{{ url_for('users.user_posts',username=post.author.username) }}">{{ post.author.username }}</a>
            
            {% if post.author == current_user %}
                <a class="btn btn-info btn-sm mx-3 my-1"
                    href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm mx-3 my-1" data-toggle="modal"
                    data-target="#deleteModal">Delete</button>
            
            {% endif %}
            <small class="text-muted float-right pr-4 h6">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            
            
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post',post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>

        <div>
            <a class="btn btn-outline-success px-2 mx-2" href="{{ url_for('posts.upvote',post_id=post.id) }}">Upvote</a>
            <a class="btn btn-outline-danger px-2 mx-2" href="{{ url_for('posts.downvote',post_id=post.id) }}">Downvote</a> 
            <span class="px-2 text-secondary">{{ post.upvotes_count }} people have liked the post.</span>            
            
            <a class="btn btn-primary float-right" href="{{ url_for('posts.post',post_id=post.id) }}">Comments</a>

        </div>
    </div>
    
</article>

<div class="row bootstrap snippets">
    <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-body">
                    {% if current_user.is_authenticated %}
                    <form action="{{ url_for('posts.post',post_id=post.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            {{ form.comment_body(class="form-control",placeholder="write a comment...",rows="3") }}
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info float-right") }}
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                    {% endif %}
                    <h1><small class="float-right">{{ count_of_comments }} comments</small>Comments</h1>
                    <ul class="media-list">
                        {% for comment in comments %}
                        <li class="media">
                            <a href="#" class="float-left">
                                <img src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}"
                                    alt="" class="rounded-circle article-img">
                            </a>
                            <div class="media-body">
                                <span class="text-muted float-right">
                                    <small class="text-muted">{{ get_time_passed(comment.date_posted) }} ago</small>
                                </span>
                                <strong class="text-success">@{{ comment.author.username }}</strong>
                                <p>{{ comment.body }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}