{% extends 'layout.html' %}

{% block content %}

    {% include 'post.html' %}

    <!-- Comment section -->
    <div class="row bootstrap snippets">
        <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-body pt-2 pr-5">
                        {% if current_user.is_authenticated %}
                            <form action="{{ url_for('posts.post',post_id=post.id) }}" method="POST">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    {{ form.comment_body(class="form-control",placeholder="write a comment...",rows="3") }}
                                </fieldset>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-outline-info float-right") }}
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <hr>
                        {% endif %}
                        <h2 class="text-right py-3">{{ count_of_comments }} comments</h1>
                            {% for comment in comments %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-2">
                                        <img src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}"
                                            alt="" class="rounded-circle article-img img-fluid">
                                    </div>
                                    <div class="col-md-10 col-sm-9 col-xs-10">
                                        <span class="text-muted float-right">
                                            <small class="text-muted">{{ comment.get_time_passed() }} ago</small>
                                        </span>
                                        <strong class="text-success">@{{ comment.author.username }}</strong>
                                        <p class="text-justify">{{ comment.body }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}